<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">


  <title>Projeto Agrotóxicos Compostos</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">


  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


  <link href="/css/variables-purple.css" rel="stylesheet">

  <link href="/css/main.css" rel="stylesheet">
</head>

<body class="corpo">

  <header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <h1>AGROTÓXICOS - <span>COMPOSTOS</span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">INÍCIO</a></li>
          <li><a class="nav-link scrollto" href="index.html#projetos">SAIBA MAIS</a></li>
          <li><a class="nav-link scrollto" href="index.html#ref">REFERÊNCIAS</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle d-none"></i>
      </nav>
      <!-- .navbar -->

      <a class="btn-getstarted scrollto" href="index.html#nossopjt">LER</a>
    </div>
  </header>
  <!-- End Header -->

  <section id="hero-animated" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
      <img src="/img/emoji-dizzy.svg" height="200" width="200" class="img-fluid animated">
      <h2><span>SAIBA MAIS</span></h2>
      <p>Agrotóxicos são produtos químicos sintéticos usados para matar insetos, larvas, fungos, carrapatos sob a justificativa de controlar as doenças provocadas por esses vetores e de regular o crescimento da vegetação, tanto no ambiente rural quanto urbano (BRASIL, 2002; INCA, 2021).
        <br> Sob a orientação do professor Fábio Luiz Faria.</p>
    </div>
  </section>

  <main id="main">

    <!-- ======= Projetos Section ======= -->
    <section id="projetos" class="projetos">
      <div class="container">

        <div class="row align-items-md-stretch">
          <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
              <h2>ESTROBILURINA</h2>
              <a><img src="/img/amida (4).png" width="500" height="auto"></img></a>
                <p></p>
                <p>fungicidas foliares.</p>
                <p>possui: benzeno, éter, éster.
                <br>fórmula: C16H18O3.</p>
              
                <p class="">As estrobilurinas são fungicidas foliares de largo espectro e podem ser usados em uma grande variedade de culturas, em todo mundo, designadamente no trigo, na cevada, no arroz, na videira, na banana e numa série de produtos hortícolas.</p>
            </div>
          </div>

          <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
              <h2>MANDIPROPAMIDA</h2>
              <a><img src="/img/4.png" width="500" height="auto"></img></a>
                <p></p>
                <p>fungicida translaminar.</p>
                <p>possui: amida, éter, clorobenzeno, carbono quiral.
                <br>fórmula: C23H22ClNO4.
                <br>massa molar: 411,9 g/mol.</p>
              
                <p class="">Fungicidas com ação translaminar caracterizam-se por penetrar e se redistribuir rapidamente no local tratado, todavia não se translocam pela planta e não protegem brotações novas. São fungicidas classificados como seletivos, pois inibem processos metabólicos específicos inerentes a grupos restritos de fungos.</p>
            </div>
          </div>
        </div>

        </br>

        <div class="row align-items-md-stretch">
          <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
              <h2>BROMADIOLONA</h2>
              <a><img src="/img/amida.png" width="500" height="auto"></img></a>
                <p></p>
                <p>rodenticida/raticida - classe II.</p>
                <p>possui: álcool, éster, bromobenzeno.
                <br>fórmula: C30H23BrO4.
                <br>massa molar: 527,41 g/mol.</p>
              
                <p class="">A bromadiolona é um rodenticida anticoagulante potente. Frequentemente chamado de "super-warfarina" por sua potência e tendência a se acumular no fígado do organismo envenenado.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
              <h2>ATRAZINA</h2>
              <a><img src="/img/amida (2).png" width="500" height="auto"></img></a>
                <p></p>
                <p>herbicida - classe IV.</p>
                <p>possui: amina.
                <br>fórmula: C8H14ClN5.
                <br>massa molar: 215.68 g/mol</p>
              
                <p class="">A atrazina é um herbicida de tipo triazina, usado em plantações de milho, cana-de-açúcar e sorgo para o controle de ervas daninhas. Herbicida antigo, é ainda empregue devido ao seu baixo custo e porque atua em sinergia quando utilizado com outros herbicidas.</p>
            </div>
          </div>
        </div>

      </br>

      <div class="row align-items-md-stretch">
          <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
              <h2>TRIAZOFOS</h2>
              <a><img src="/img/amida (3).png" width="500" height="auto"></img></a>
                <p></p>
                <p>comumente utilizado em acaricidas.</p>
                <p>possui: amina, fosfona, piridina, éster.
                <br>fórmula: C12H16N3O3PS.
                <br>massa molar: 313.31 g/mol</p>
              
                <p class="">O Triazofos é um inibidor de enzima colinesterase que atua no metabolismo da acetilcolina, resultando na acumulação no neurotransmissor. Os sinais de são característicos da elevada estimulação do sistema colinérgico.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
              <h2>CIPERMETRINA</h2>
              <a><img src="/img/amida (5).png" width="500" height="auto"></img></a>
                <p></p>
                <p>inseticida - classe II</p>
                <p>possui: éter, éster
                <br>fórmula: C22H19Cl2NO3.
                <br>massa molar: 416,3 g/mol</p>
              
                <p class="">A Cipermetrina é uma substância do grupo dos piretróides e possui classificação toxicológica nível II. É fotoestável, não se degradando com a luz solar. Como muitos piretróides é um inseticida e acaricida de ação muito ampla.</p>
            </div>
          </div>
        </div>
        
      </div>
    </section><!-- End Projetos Section -->

    <section id="ref" class="ref">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Referências</h2>
          <p>Sites, Artigos e Pesquisas utilizadas como fonte.</p>
        </div>

        <div class="row gy-5">

          <div class="col-xl-6 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="400">
            <div class="team-member">
              <div class="member-info">
                <h4>KLAASSEN, C. D. (ed.). Casarett and Doull’s toxicology: the basic science of poisons. 8th ed. New york: McGraw-Hill Education, 2013.
                </h4>
              </div>
            </div>
          </div><!-- End Ref -->
          <div class="col-xl-6 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="400">
            <div class="team-member">
              <div class="member-info">
                <h4>AGÊNCIA NACIONAL DE VIGIL NCIA SANITÁRIA (Brasil). Monografias autorizadas. Brasília, DF: ANVISA, 2018.

                </h4>
              </div>
            </div>
          </div><!-- End Ref -->
          <div class="col-xl-6 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="400">
            <div class="team-member">
              <div class="member-info">
                <h4>INSTITUTO NACIONAL DE C NCER. Exposição no trabalho e no ambiente, 2022. Agrotóxicos. Disponível em: <https://www.inca.gov.br/agrotoxicos>. Acesso em: 04 de maio de 2022.

                </h4>
              </div>
            </div>
          </div><!-- End Ref -->
          <div class="col-xl-6 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="400">
            <div class="team-member">
              <div class="member-info">
                <h4>MORAES, R. F. DE. Agrotóxicos no Brasil : padrões de uso, política da regulação e prevenção da captura regulatória. 2019.

                </h4>
              </div>
            </div>
          </div><!-- End Ref -->
          <div class="col-xl-6 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="400">
            <div class="team-member">
              <div class="member-info">
                <h4>INSTITUTO NACIONAL DE C NCER JOSÉ ALENCAR GOMES DA SILVA. Ambiente, trabalho e câncer: aspectos epidemiológicos, toxicológicos e regulatórios / Instituto Nacional de Câncer José Alencar Gomes da Silva. – Rio de Janeiro: INCA, 2021.

                </h4>
              </div>
            </div>
          </div><!-- End Ref -->
        </br>
          <div class="col-xl-6 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="400">
            <div class="team-member">
              <div class="member-info">
                <h4>SAVOY, Vera Lúcia Tedeschi. PALESTRA: CLASSIFICAÇÃO DOS AGROTÓXICOS. Instituto Biológico, Centro de Pesquisa e Desenvolvimento em Proteção Ambienta, São Paulo, ano 2011, v. 73, n. 1, p. 91-92, 1 jan. 2011. <a href="http://www.biologico.sp.gov.br/uploads/docs/bio/v73_1/savoy_palestra.pdf">Acesso em: 9 maio 2022.</a>


                </h4>
              </div>
            </div>
          </div><!-- End Ref -->
        </div>
      </div>
    </section><!-- End Ref Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-legal text-center">
      <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

        <div class="d-flex flex-column align-items-center align-items-lg-start">
          <a href="https://ifms.edu.br/"><img src="/img/ifms.png"></img></a>
        </div>

        <div class="credits">
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>


      </div>
    </div>

  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>