<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">


  <title>Projeto Agrotóxicos</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">


  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


  <link href="/css/variables-green.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
</head>

<body class="corpo">

  <header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <h1>AGRO<span>TÓXICOS CONTEUDOS</span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">INÍCIO</a></li>
          <li><a class="nav-link scrollto" href="index.html#projetos">SAIBA MAIS</a></li>
          <li><a class="nav-link scrollto" href="index.html#ref">REFERÊNCIAS</a></li>
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle d-none"></i>
      </nav>
      <!-- .navbar -->

      <a class="btn-getstarted scrollto" href="index.html#nossopjt">LER</a>
    </div>
  </header>
  <!-- End Header -->

  <section id="hero-animated" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
      <img src="/img/emoji-dizzy.svg" height="200" width="200" class="img-fluid animated">
      <h2><span>SAIBA MAIS</span></h2>
      <p>Agrotóxicos, defensivos agrícolas, pesticidas, praguicidas, biocidas, agroquímicos, produtos fitofarmacêuticos ou produtos fitossanitários são designações genéricas para os vários produtos químicos usados na agricultura. 
        <br> Sob a orientação do professor Fábio Luiz Faria.</p>
    </div>
  </section>

  <main id="main">

    <!-- ======= Projetos Section ======= -->
    <section id="projetos" class="projetos">
      <div class="container">

        <div class="row align-items-md-stretch">
          <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-green rounded-3">
              <h2>História</h2>
              <p>A indústria química ganhou impulso depois do fim da Segunda Guerra Mundial, pois os empresários dos países que venceram o conflito resolveram investir nela para expandir os seus negócios. Como nesse momento histórico os europeus estavam passando fome devido a falta de alimentos foi criada a chamada “revolução verde”.
                O objetivo dessa revolução era promover a agricultura de forma fosse possível cultivar alimentos para quem tinha fome. No Brasil esse estímulo à agricultura chegou no meio da década de 60. A indústria do agrotóxico foi bastante beneficiada pelo fato de que o governo brasileiro impôs que o financiamento bancário para comprar semente somente seria concedido para quem fizesse também a compra de adubo e agrotóxico.
                </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
              <h2>O que são?</h2>
              <p>Agrotóxicos são produtos químicos sintéticos usados para matar insetos, larvas, fungos, carrapatos sob a justificativa de controlar as doenças provocadas por esses vetores e de regular o crescimento da vegetação, tanto no ambiente rural quanto urbano (BRASIL, 2002; INCA, 2021).
                Estes produtos têm seu uso tanto em atividades agrícolas como não agrícolas. As agrícolas estão relacionadas ao setor de produção, seja na limpeza do terreno e preparação do solo, na etapa de acompanhamento da lavoura, no depósito e no beneficiamento de produtos agrícolas, nas pastagens e nas florestas plantadas. O uso não agrícola é feito em florestas nativas ou outros ecossistemas, como lagos e açudes, por exemplo.
                </p>
            </div>
          </div>
        </div>

        </br>

        <div class="row align-items-md-stretch">
          <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
              <h2>Agrotóxicos no Brasil</h2>
              <p>Para se identificar os possíveis determinantes da regulação, é preciso antes entender as dinâmicas da utilização de agrotóxicos no Brasil, o que é feito nesta seção. Isto se deve ao fato de que, quanto maior o consumo de agrotóxicos, maiores as perdas decorrentes de uma legislação mais restritiva, criando incentivos adicionais para a mobilização de grupos antirregulação. Assim, como a produção e o consumo de agrotóxicos são crescentes, os incentivos para a mobilização também são. Em outras palavras, quanto maior a produção rural e o uso de agrotóxicos, maior a influência relativa do setor e maior o risco de captura regulatória.
                </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-green rounded-3">
              <h2>Como surgiram?</h2>
              <p>Durante a Primeira Guerra Mundial os agrotóxicos foram criados, mas foram mais amplamente utilizados durante a Segunda Guerra Mundial como um tipo de arma química. Quando a guerra teve fim os produtos passaram a ser utilizados como defensivos agrícolas.
                </p>
            </div>
          </div>
        </div>

      </br>

      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-white bg-green rounded-3">
            <h2>Efeitos</h2>
            <p><span>Efeitos Agudos</span>
            São aqueles de aparecimento rápido. Podem surgir os seguintes sintomas (KLAASSEN, 2013):
            Através da pele - Irritação na pele, ardência, desidratação, alergias
            Através da respiração -Ardência do nariz e boca, tosse, coriza, dor no peito, dificuldade de respirar
            Através da boca - Irritação da boca e garganta, dor de estômago, náuseas, vômitos, diarreia
            Outros sintomas inespecíficos também podem ocorrer, tais como: dor de cabeça, transpiração anormal, fraqueza, câimbras, tremores, irritabilidade.
            <span>Efeitos crônicos </span>
            São aqueles aparecem após exposições repetidas a pequenas quantidades de agrotóxicos por um período prolongado). Podem-se relatar os seguintes sintomas (ANVISA, 2018):
            Dificuldade para dormir, esquecimento, aborto, impotência, depressão, problemas respiratórios graves, alteração do funcionamento do fígado e dos rins, anormalidade da produção de hormônios da tireoide, dos ovários e da próstata, incapacidade de gerar filhos, malformação e problemas no desenvolvimento intelectual e físico das crianças. Estudos apontam grupos de agrotóxicos como prováveis e possíveis carcinogênicos (ANVISA, 2018).
            A associação entre exposição a agrotóxicos e desenvolvimento de câncer ainda gera polêmicas, principalmente porque os indivíduos estão expostos a diversas substâncias, sem contar outros fatores genéticos. Porém, é importante salientar que estudos vêm mostrando o potencial de desenvolvimento de câncer relacionado a diversos agrotóxicos, justificando a recomendação de precaução para com o uso e contato.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Classificações</h2>
            <a><img src="/img/classificacoes.png"></img></a>
          </div>
        </div>
      </div>

    </br>

      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-white bg-green rounded-3">
            <h2>Vantagens e Desvantagens</h2>
            <p>
              Vantagens
            </br>-> O uso de agrotóxicos em doses recomendadas garante o controle de possíveis pragas e doenças que podem afetar as produções agrícolas.
            </br>-> O controle das doenças e pragas propicia o aumento da produtividade das lavouras e melhora a qualidade visual dos produtos cultivados.
            </br>-> Normalmente os preços dos produtos cultivados com o uso dos agrotóxicos são reduzidos em relação ao preço dos produtos orgânicos.
            </p>
            <p>
              Desvantagens
            </br>-> A utilização de agrotóxicos é questionada por diversos órgãos da saúde, visto que está associada a problemas de saúde, como alterações cromossômicas, câncer de diversos tipos, doenças respiratórias, entre outras.
            </br>-> Utilizar o agrotóxico de maneira incorreta provoca danos ambientais, como contaminação do solo e dos recursos hídricos.
            </br>-> Doses acima do permitido podem contaminar alimentos e trazer riscos à saúde. 
            </p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Impactos</h2>
            <p>
              O Brasil é um dos principais produtores agrícolas do mundo e o maior consumidor do mercado mundial de pesticidas, com mais de 400 fórmulas aprovadas; quase metade dos químicos liberados em nosso território, no entanto, é proibida em países da União Europeia.
              O uso indiscriminado de agrotóxicos pode levar à contaminação da água e do solo e causar efeitos drásticos em espécies não alvo, afetando a biodiversidade, as redes alimentares e os ecossistemas aquáticos e terrestres.
            </p>
          </div>
        </div>
      </div>

      </div>
    </section><!-- End Projetos Section -->

    <section id="ref" class="ref">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Referências</h2>
          <p>Sites, Artigos e Pesquisas utilizadas como fonte.</p>
        </div>

        <div class="row gy-5">

          <div class="col-xl-6 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="400">
            <div class="team-member">
              <div class="member-info">
                <h4>KLAASSEN, C. D. (ed.). Casarett and Doull’s toxicology: the basic science of poisons. 8th ed. New york: McGraw-Hill Education, 2013.
                </h4>
              </div>
            </div>
          </div><!-- End Ref -->
          <div class="col-xl-6 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="400">
            <div class="team-member">
              <div class="member-info">
                <h4>AGÊNCIA NACIONAL DE VIGIL NCIA SANITÁRIA (Brasil). Monografias autorizadas. Brasília, DF: ANVISA, 2018.

                </h4>
              </div>
            </div>
          </div><!-- End Ref -->
          <div class="col-xl-6 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="400">
            <div class="team-member">
              <div class="member-info">
                <h4>INSTITUTO NACIONAL DE C NCER. Exposição no trabalho e no ambiente, 2022. Agrotóxicos. Disponível em: <https://www.inca.gov.br/agrotoxicos>. Acesso em: 04 de maio de 2022.

                </h4>
              </div>
            </div>
          </div><!-- End Ref -->
          <div class="col-xl-6 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="400">
            <div class="team-member">
              <div class="member-info">
                <h4>MORAES, R. F. DE. Agrotóxicos no Brasil : padrões de uso, política da regulação e prevenção da captura regulatória. 2019.

                </h4>
              </div>
            </div>
          </div><!-- End Ref -->
          <div class="col-xl-6 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="400">
            <div class="team-member">
              <div class="member-info">
                <h4>INSTITUTO NACIONAL DE C NCER JOSÉ ALENCAR GOMES DA SILVA. Ambiente, trabalho e câncer: aspectos epidemiológicos, toxicológicos e regulatórios / Instituto Nacional de Câncer José Alencar Gomes da Silva. – Rio de Janeiro: INCA, 2021.

                </h4>
              </div>
            </div>
          </div><!-- End Ref -->
        </br>
          <div class="col-xl-6 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="400">
            <div class="team-member">
              <div class="member-info">
                <h4>SAVOY, Vera Lúcia Tedeschi. PALESTRA: CLASSIFICAÇÃO DOS AGROTÓXICOS. Instituto Biológico, Centro de Pesquisa e Desenvolvimento em Proteção Ambienta, São Paulo, ano 2011, v. 73, n. 1, p. 91-92, 1 jan. 2011. <a href="http://www.biologico.sp.gov.br/uploads/docs/bio/v73_1/savoy_palestra.pdf">Acesso em: 9 maio 2022.</a>


                </h4>
              </div>
            </div>
          </div><!-- End Ref -->
        </div>
      </div>
    </section><!-- End Ref Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-legal text-center">
      <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

        <div class="d-flex flex-column align-items-center align-items-lg-start">
          <a href="https://ifms.edu.br/"><img src="/img/ifms.png"></img></a>
        </div>

        <div class="credits">
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>

  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>